{{#each}}
  <div class="person" {{bindAttr data-user-login="login"}}>
    <img data-tooltip="true" {{bindAttr src="avatar_url"}} />
    <span class="tooltip tooltip-top">{{login}}</span>
    {{#if controller.isEditing}}
      <a href="#" class='remove-person' {{action "removePerson" this}}>remove</a>
    {{/if}}
  </div>
{{/each}}
